USE [master]
GO
/****** Object:  Database [HRMS]    Script Date: 11-06-2024 11:56:57 AM ******/
CREATE DATABASE [HRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HRMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HRMS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMS]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode]  AS ('BYT'+right('000'+CONVERT([varchar](10),[id]),(3))) PERSISTED,
	[FirstName] [varchar](40) NOT NULL,
	[MiddleName] [varchar](40) NULL,
	[LastName] [varchar](40) NOT NULL,
	[Email] [nvarchar](40) NOT NULL,
	[MobileNumber] [varchar](30) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[City] [varchar](60) NOT NULL,
	[PinCode] [varchar](10) NOT NULL,
	[State] [varchar](60) NOT NULL,
	[Country] [varchar](60) NOT NULL,
	[Role] [int] NOT NULL,
	[Designation] [int] NOT NULL,
	[Experience] [int] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[DateOfJoining] [date] NULL,
	[Religion] [varchar](60) NOT NULL,
	[Nationality] [varchar](60) NOT NULL,
	[MaritalStatus] [varchar](60) NOT NULL,
	[ProfileImage] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[Field1] [varchar](60) NULL,
	[Field2] [varchar](30) NULL,
	[Field3] [varchar](30) NULL,
 CONSTRAINT [PK_EmployeeDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeePersonalDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePersonalDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[PgCollegeName] [varchar](100) NULL,
	[PgStart] [date] NULL,
	[PgEnd] [date] NULL,
	[PgCourse] [varchar](60) NULL,
	[UgCollageName] [varchar](100) NULL,
	[UgStart] [date] NULL,
	[UgEnd] [date] NULL,
	[UgCourse] [varchar](60) NULL,
	[HSCSchoolName] [varchar](100) NULL,
	[HSCStart] [date] NULL,
	[HSCEnd] [date] NULL,
	[HSCCourse] [varchar](60) NULL,
	[SSLCSchoolName] [varchar](100) NOT NULL,
	[SSLCStart] [date] NULL,
	[SSLCEnd] [date] NULL,
	[EmergencyContact] [varchar](20) NOT NULL,
	[Relationship] [varchar](40) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NULL,
	[Field1] [varchar](30) NULL,
	[Field2] [varchar](30) NULL,
	[Field3] [varchar](30) NULL,
 CONSTRAINT [PK_EmployeePersonalDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAccountDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAccountDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[salary] [decimal](11, 2) NULL,
	[BankName] [varchar](50) NOT NULL,
	[AccountNumber] [varchar](30) NOT NULL,
	[IFSCCode] [varchar](30) NOT NULL,
	[PFAccount] [varchar](30) NULL,
	[IsActive] [bit] NULL,
	[Status] [varchar](20) NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[CreatedName] [varchar](30) NULL,
	[ModifiedName] [varchar](30) NULL,
	[EmployeeCode] [varchar](30) NULL,
	[Field2] [varchar](30) NULL,
	[Field3] [varchar](30) NULL,
 CONSTRAINT [PK_AccountDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeeBasicDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[EmployeeBasicDetails] AS
SELECT  EmployeeDetails.[ID],
        EmployeeDetails.[EmployeeCode],
        EmployeeDetails.[FirstName],
        EmployeeDetails.[MiddleName],
        EmployeeDetails.[LastName],
        EmployeeDetails.[Email],
        EmployeeDetails.[MobileNumber],
        Designations.[Designation],
        Roles.[Role],
        EmployeeDetails.[Experience],
        EmployeeDetails.[DateOfJoining],
        EmployeeDetails.[DateOfBirth],
        EmployeeDetails.[Address],
        EmployeeDetails.[City],
        EmployeeDetails.[Country],
        EmployeeDetails.[State],
        EmployeeDetails.[PinCode],
        EmployeeDetails.[Gender],
        EmployeeDetails.[Religion],
        EmployeeDetails.[Nationality],
        EmployeeDetails.[MaritalStatus],
        EmployeeDetails.[ProfileImage],
        EmployeeDetails.[Designation] AS DesignationId,
        EmployeePersonalDetails.[PgCollegeName],
        EmployeePersonalDetails.[PgCourse],
        EmployeePersonalDetails.[PgStart],
        EmployeePersonalDetails.[PgEnd],
        EmployeePersonalDetails.[UgCollageName],
        EmployeePersonalDetails.[UgCourse],
        EmployeePersonalDetails.[UgStart],
        EmployeePersonalDetails.[UgEnd],
        EmployeePersonalDetails.[HSCSchoolName],
        EmployeePersonalDetails.[HSCCourse],
        EmployeePersonalDetails.[HSCStart],
        EmployeePersonalDetails.[HSCEnd],
        EmployeePersonalDetails.[SSLCSchoolName],
        EmployeePersonalDetails.[SSLCStart],
        EmployeePersonalDetails.[SSLCEnd],
        EmployeePersonalDetails.[EmergencyContact],
        EmployeePersonalDetails.[Relationship],
        EmployeeAccountDetails.[BankName],
        EmployeeAccountDetails.[salary],
        EmployeeAccountDetails.[AccountNumber],
        EmployeeAccountDetails.[IFSCCode],
         EmployeeAccountDetails.[PFAccount],
        EmployeeDetails.[IsActive],
        EmployeeAccountDetails.[Status]
      
FROM EmployeeDetails 
INNER JOIN EmployeePersonalDetails ON EmployeePersonalDetails.[EmpId]=EmployeeDetails.[ID]
INNER JOIN EmployeeAccountDetails ON EmployeeDetails.[ID]=EmployeeAccountDetails.[EmpID]
INNER JOIN Designations ON EmployeeDetails.[Designation]=Designations.[ID]
INNER JOIN Roles ON EmployeeDetails.[Role]=Roles.[ID]
WHERE EmployeeDetails.IsActive=1;
GO
/****** Object:  View [dbo].[DisplayEmployeeDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[DisplayEmployeeDetails] As 
select [ID],
        [EmployeeCode],
        CONCAT([FirstName],' ',COALESCE([MiddleName],' '),' ',[LastName]) AS EmployeeName,
        [Email],
        [Designation],
        [DateOfJoining],
        [salary]
        from EmployeeBasicDetails
GO
/****** Object:  Table [dbo].[Task]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[TaskName] [nvarchar](60) NULL,
	[DueDate] [date] NULL,
	[EmpId] [int] NULL,
	[Status] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[CompletedAt] [date] NULL,
 CONSTRAINT [PK_TaskID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TaskSummary]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[TaskSummary] 
AS
SELECT 
    ProjectID,  TotalTasks, CompletedTasks, (CAST(CompletedTasks AS FLOAT) / TotalTasks) * 100  AS PercentageCompleted
FROM (
    SELECT 
        ProjectID,
        COUNT(TaskName) AS TotalTasks,
        SUM(CASE WHEN Status = 0 THEN 1 ELSE 0 END) AS CompletedTasks
    FROM task
    GROUP BY ProjectID
) AS TaskSummary;
GO
/****** Object:  Table [dbo].[Project]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID]  AS ('PRO'+right('000'+CONVERT([varchar](10),[ID]),(3))) PERSISTED,
	[ProjectName] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](120) NULL,
	[DueDate] [date] NULL,
	[ProjectCreatedDate] [date] NULL,
	[ClientID] [int] NULL,
	[Status] [bit] NULL,
	[FileUpload] [nvarchar](max) NULL,
	[CompletedDate] [date] NULL,
	[CreatedDate] [date] NULL,
	[IsActive] [bit] NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [varchar](30) NULL,
	[ModifiedBy] [varchar](30) NULL,
	[feild1] [varchar](10) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[TaskTable]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   VIEW [dbo].[TaskTable]
    AS
        SELECT  T.ID,ED.ID AS EmployeeId, ED.EmployeeCode, T.TaskName, T.DueDate, TS.PercentageCompleted AS Progress, T.Status, P.ID AS ProjectID, P.ProjectName, P.IsActive as ProjectStatus,T.IsActive,ED.ROLE
        FROM Task AS T
            INNER JOIN EmployeeDetails AS ED
            ON T.EmpId =  ED.ID
            INNER JOIN Project AS P
            ON T.ProjectID = P.ID
            INNER JOIN TaskSummary AS TS
            ON TS.ProjectID = P.ID
GO
/****** Object:  Table [dbo].[ReimbursementClaim]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReimbursementClaim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[Expense] [int] NOT NULL,
	[BillNo] [varchar](40) NOT NULL,
	[BillDate] [date] NULL,
	[BillAmount] [money] NULL,
	[Bill] [nvarchar](max) NULL,
	[Status] [varchar](30) NULL,
	[CreatedDate] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Reimbursementclaim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expensetype]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expensetype](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Expensetypes] [varchar](20) NULL,
 CONSTRAINT [PK_] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReimbursementAllclaim]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ReimbursementAllclaim] AS

SELECT ReimbursementClaim.ID,
       EmployeeDetails.FirstName,
       EmployeeDetails.Email,  
       EmployeeDetails.EmployeeCode,
       Designations.Designation,
       Roles.Role,
       Expensetype.Expensetypes,
       ReimbursementClaim.BillNo,
       ReimbursementClaim.BillDate,
       ReimbursementClaim.BillAmount,
       ReimbursementClaim.Bill,
       ReimbursementClaim.Status,
       ReimbursementClaim.CreatedDate,
       ReimbursementClaim.IsActive

FROM   ReimbursementClaim  

INNER JOIN EmployeeDetails ON ReimbursementClaim.EmpId = EmployeeDetails.ID
INNER JOIN Roles ON ReimbursementClaim.Role = Roles.ID
INNER JOIN Expensetype ON ReimbursementClaim.Expense = Expensetype.ID
INNER JOIN Designations ON EmployeeDetails.Designation = Designations.ID
GO
/****** Object:  Table [dbo].[LeaveDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[LeaveType] [int] NOT NULL,
	[Reason] [varchar](30) NOT NULL,
	[Detailedreason] [varchar](100) NOT NULL,
	[NoOfDays]  AS (datediff(day,[StartDate],[EndDate])+(1)),
	[Status] [varchar](10) NULL,
	[CreatedDate] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [Pk_leave] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypeDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypeDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Leavetypename] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Leaveview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[Leaveview] as
select  LeaveDetails.ID,
        LeaveDetails.EmpId,
        EmployeeDetails.EmployeeCode,
        EmployeeDetails.FirstName,
        EmployeeDetails.MiddleName,
        EmployeeDetails.LastName,
        Designations.Designation,
        LeaveDetails.StartDate,
        LeaveDetails.EndDate,
        LeaveTypeDetails.Leavetypename,
        LeaveDetails.Reason,
        LeaveDetails.Detailedreason,
        Concat(day (StartDate),' ',FORMAT(StartDate, 'MMMM')) as Wordstartdate,
        Concat(day(EndDate),' ',FORMAT(EndDate,'MMMM')) as WordEndDate,
        LeaveDetails.NoOfDays,
        LeaveDetails.[Status],
        LeaveDetails.IsActive,
        EmployeeDetails.Role
        from ((((EmployeeDetails
        join LeaveDetails on LeaveDetails.EmpId=EmployeeDetails.ID)
        join Designations on Designations.ID=EmployeeDetails.Designation)
        join Roles on EmployeeDetails.Role=Roles.ID)
        join LeaveTypeDetails on LeaveTypeDetails.ID=LeaveDetails.LeaveType);
GO
/****** Object:  View [dbo].[TodayLeaveSample]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[TodayLeaveSample]
AS
SELECT Count(L.EmpId) AS TodayPresent, 'Absent' AS [Status] FROM Leaveview AS L WHERE GETDATE() BETWEEN L.StartDate AND L.EndDate AND [Status]='Approved'
GO
/****** Object:  View [dbo].[montheave]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[montheave] AS
SELECT EmployeeCode,EmpId,
ISNULL(SUM(CASE
    WHEN month(getdate())=month(StartDate) and month(getdate())=month(EndDate) 
    then  DATEDIFF(day,StartDate,EndDate)

    WHEN month(getdate())=month(StartDate) and month(getdate()) < month(EndDate)
    then DATEDIFF(day,getdate(),StartDate)

    when month(getdate())=month(EndDate) and month(GETDATE()) > month(StartDate)
    then DateDiff(day,DATEFROMPARTS(YEAR(GETDATE()),MONTH(GETDATE()),1),EndDate)

END),0) AS MonthLeavecount
FROM Leaveview
group by EmployeeCode,EmpId;
GO
/****** Object:  Table [dbo].[DisplaySalaryDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisplaySalaryDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[EmployeeCode] [varchar](20) NULL,
	[BasicSalary] [decimal](11, 2) NULL,
	[HouseRent] [decimal](11, 2) NULL,
	[Conveyance] [decimal](11, 2) NULL,
	[OtherAllowance] [decimal](11, 2) NULL,
	[ESI] [decimal](11, 2) NULL,
	[Tax] [decimal](11, 2) NULL,
	[PF] [decimal](11, 2) NULL,
	[Others] [decimal](11, 2) NULL,
	[Reimbursement] [decimal](11, 2) NULL,
	[NetSalary] [decimal](11, 2) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[payslipdetailsview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    view [dbo].[payslipdetailsview] AS
SELECT 
    MS.[ID],
    Emp.[ID] As EmpId,
    Emp.[EmployeeCode],
    CONCAT(Emp.[FirstName],'', Emp.[MiddleName],'',Emp.[LastName])As EmployeeName,
    Emp.[Email],
    Emp.[Designation],
    Emp.[DateOfJoining],
    AC.[BankName],
    AC.[AccountNumber],
    AC.[IFSCCode],
    AC.[PFAccount],
    
    MS.[BasicSalary] ,
    MS.[HouseRent] ,
    MS.[Conveyance] ,
    MS.[OtherAllowance] ,
    MS.[ESI] ,
    MS.[Tax] ,
    MS.[PF],
    MS.[Reimbursement],
    MS.[Others],
    MS.[NetSalary],
    MS.[CreatedAt]
from EmployeeBasicDetails as Emp
join  EmployeeAccountDetails As AC
on Ac.EmpId=Emp.ID
join DisplaySalaryDetails As MS
ON MS.EmpId=Emp.ID

GO
/****** Object:  View [dbo].[Applyvalidation]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[Applyvalidation] AS
SELECT ReimbursementClaim.ID,
       ReimbursementAllClaim.EmployeeCode,
       ReimbursementClaim.Role,
       ReimbursementClaim.Expense,
       MONTH(ReimbursementClaim.BillDate) AS [Bill Month]
FROM   ReimbursementClaim
INNER JOIN ReimbursementAllClaim ON ReimbursementClaim.ID = ReimbursementAllClaim.ID
GO
/****** Object:  View [dbo].[ProjectCountDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ProjectCountDetails]
AS
SELECT COUNT(ProjectID) AS ProjectCount, 
    CASE 
        WHEN [Status] = 0 THEN 'Completed' 
        WHEN [Status] = 1 THEN 'On Progress'
    END AS Status 
FROM Project GROUP BY Status
GO
/****** Object:  Table [dbo].[CompanyPolicy]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyPolicy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Roles] [int] NOT NULL,
	[LeaveLimit] [int] NOT NULL,
	[InternetLimit] [money] NOT NULL,
	[TravelLimit] [money] NOT NULL,
	[IsActive] [bit] NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [date] NULL,
 CONSTRAINT [PK_Companypolicy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CompanyPolicyMain]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    VIEW [dbo].[CompanyPolicyMain] AS

SELECT Companypolicy.ID,
       Roles.Role,
       Companypolicy.LeaveLimit,
       Companypolicy.InternetLimit,
       Companypolicy.TravelLimit,
       Companypolicy.IsActive,
       EmployeeDetails.EmployeeCode AS ModifiedBy,
       Companypolicy.ModifiedDate

FROM   Companypolicy

INNER JOIN Roles ON  Companypolicy.Roles = Roles.ID
INNER JOIN EmployeeDetails ON Companypolicy.ModifiedBy = EmployeeDetails.ID
GO
/****** Object:  View [dbo].[Leavepolicy]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Leavepolicy] AS
SELECT ID,
       [Role],
       LeaveLimit
FROM  CompanyPolicyMain 
GO
/****** Object:  View [dbo].[Expensepolicy]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Expensepolicy] AS
SELECT ID,
       [Role],
       InternetLimit,
       TravelLimit
FROM  CompanyPolicyMain  
GO
/****** Object:  View [dbo].[Leavepolicyview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Leavepolicyview] AS
SELECT ID,
       [Role],
       LeaveLimit
FROM  CompanyPolicyMain 
GO
/****** Object:  View [dbo].[ReimbursementRequests]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ReimbursementRequests] AS

SELECT ReimbursementAllclaim.ID,
       ReimbursementAllclaim.EmployeeCode,
       ReimbursementAllclaim.FirstName,
       ReimbursementAllclaim.Role,
       ReimbursementAllclaim.Designation,
       ReimbursementAllclaim.Expensetypes,
       ReimbursementAllclaim.BillNo,
       ReimbursementAllclaim.BillDate,
       ReimbursementAllclaim.CreatedDate,
       ReimbursementAllclaim.BillAmount,
       ReimbursementAllclaim.Status,
       ReimbursementAllclaim.Bill

FROM ReimbursementAllclaim
GO
/****** Object:  View [dbo].[Expensepolicyview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Expensepolicyview] AS
SELECT ID,
       [Role],
       InternetLimit,
       TravelLimit
FROM  CompanyPolicyMain 
GO
/****** Object:  View [dbo].[EmployeeLoginDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[EmployeeLoginDetails]
As
select 
        Emp.[EmployeeCode],
        CONCAT(Emp.[FirstName],' ',COALESCE(Emp.[MiddleName],' '),' ',Emp.[LastName]) AS EmployeeName,
        Emp.[Email],
        Emp.[Designation],
        -- Emp.[DateOfJoining],
        Ds.[BasicSalary],
        Ds.[CreatedAt]
        from EmployeeBasicDetails As Emp
        JOIN DisplaySalaryDetails As Ds
        ON Emp.EmployeeCode=Ds.EmployeeCode
GO
/****** Object:  View [dbo].[monthleave]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[monthleave] AS
SELECT EmployeeCode,EmpId,
ISNULL(SUM(CASE
    WHEN month(getdate())=month(StartDate) and month(getdate())=month(EndDate)
    then  DATEDIFF(day,StartDate,EndDate)+1

    WHEN month(getdate())=month(StartDate) and month(getdate()) < month(EndDate)
    then DATEDIFF(day,getdate(),StartDate)+1

    when month(getdate())=month(EndDate) and month(GETDATE()) > month(StartDate)
    then DateDiff(day,DATEFROMPARTS(YEAR(GETDATE()),MONTH(GETDATE()),1),EndDate)+1

END),0) AS MonthLeavecount
FROM Leaveview WHERE Status='Approved'
group by EmployeeCode,EmpId;
GO
/****** Object:  View [dbo].[MonthlySalaryCalc]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[MonthlySalaryCalc] AS
Select 
    E.ID,
    E.EmployeeCode,
    CONCAT(E.[FirstName],' ',COALESCE(E.[MiddleName],' '),' ',E.[LastName]) AS EmployeeName,
    E.Role,
    E.Experience,
    E.DateOfJoining,
    Ac.Salary As BasicSalary,
        sum(CASE 
        WHEN MONTH(GETDATE())=month(R.BillDate)
        then R.BillAmount
        ELSE
        0
        END )As Reimbursement,
    ISNULL(L.MonthLeavecount, 0) AS Leave
     from EmployeeBasicDetails AS E
     join EmployeeAccountDetails As AC
     on E.Id=Ac.EmpId
     left join MonthLeave As L
     on E.ID=L.EmpId
     LEFT JOIN reimbursementclaim As R
     on E.ID=R.EmpId
     group  by E.Id,E.employeecode,E.EmployeeCode,E.[FirstName],E.[MiddleName],E.[LastName], E.Role,E.Experience,E.DateOfJoining,Ac.Salary ,L.MonthLeavecount
GO
/****** Object:  Table [dbo].[EmployeeLogin]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[UserName] [nvarchar](30) NULL,
	[Password] [nvarchar](30) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_LoginId] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LoginDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[LoginDetails]
AS
SELECT ED.[ID], ED.[FirstName], EL.Password, EL.UserName, R.[Role], ED.[Role] AS RoleId, ProfileImage, CONCAT(ED.[FirstName],' ',COALESCE(ED.[MiddleName],' '),' ',ED.[LastName]) AS FullName  FROM EmployeeLogin AS EL 
INNER JOIN EmployeeDetails AS ED ON EL.EmpId=ED.ID
INNER JOIN Roles AS R ON ED.Role=R.ID 
WHERE ED.IsActive=1
GO
/****** Object:  Table [dbo].[ResignationTable]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResignationTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[LastDateOfWorking] [date] NOT NULL,
	[ReasonForResign] [varchar](max) NOT NULL,
	[AdditionalReasonForResign] [varchar](max) NULL,
	[Status] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[Field2] [varchar](30) NULL,
	[Field3] [varchar](30) NULL,
 CONSTRAINT [PK_ResignationTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Resignationview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[Resignationview] AS
SELECT EmployeeBasicDetails.[ID],
EmployeeBasicDetails.[EmployeeCode],
EmployeeBasicDetails.[FirstName],
EmployeeBasicDetails.[DateOfJoining],
EmployeeBasicDetails.[Designation],
ResignationTable.[LastDateOfWorking],
ResignationTable.[ReasonForResign],
ResignationTable.[AdditionalReasonForResign],
ResignationTable.[Status],
EmployeeBasicDetails.[IsActive]

FROM EmployeeBasicDetails
INNER JOIN ResignationTable ON ResignationTable.[EmpId]=EmployeeBasicDetails.[ID]
WHERE ResignationTable.[Status]='Pending';
GO
/****** Object:  View [dbo].[TotalEmpLeave]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[TotalEmpLeave]
AS
SELECT E.[ID], E.[FirstName], ISNULL(SUM(L.NoOfDays), 0) AS TotalLeave FROM EmployeeDetails AS E
LEFT JOIN LeaveDetails AS L ON L.EmpId = E.ID AND Month(L.StartDate) = Month(GETDATE())
GROUP BY E.[FirstName], E.[ID]
HAVING ISNULL(SUM(L.NoOfDays), 0) <= 5
GO
/****** Object:  View [dbo].[TotalEmpTaskComplete]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[TotalEmpTaskComplete]
AS
SELECT E.[FirstName],D.[Designation], COUNT(T.Status) AS TaskComplete
FROM EmployeeDetails AS E
INNER JOIN Task AS T ON T.EmpId = E.ID 
INNER JOIN Designations AS D ON E.Designation = D.ID
WHERE T.Status = 0 AND Month(T.CompletedAt)=Month(GETDATE())
GROUP BY E.[FirstName],T.Status, D.Designation
GO
/****** Object:  View [dbo].[EmpOfMonth]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Final Employee Of Month
CREATE   VIEW [dbo].[EmpOfMonth]
AS
SELECT TOP 1 TL.FirstName, TT.Designation FROM TotalEmpLeave AS TL
INNER JOIN TotalEmpTaskComplete AS TT ON TL.FirstName=TT.FirstName
ORDER BY TL.TotalLeave ASC, TT.TaskComplete DESC
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientCompany] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMembers]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMembers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamMembersID] [int] NULL,
	[ProjectID] [int] NULL,
	[Role] [int] NULL,
	[Module] [varchar](15) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ProjectMembers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProjectTable]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE   VIEW [dbo].[ProjectTable]
    AS
        SELECT P.ID, P.ProjectID, P.[ProjectName], P.[Description], P.[DueDate], (TS.TotalTasks - TS.CompletedTasks) AS OpenTask, TS.CompletedTasks, TS.TotalTasks AS NoOfTask, TS.PercentageCompleted AS Progress ,P.Status  ,P.CreatedDate, P.ClientID, C.ClientCompany, P.IsActive
        FROM Project AS P
            INNER JOIN ProjectMembers AS PM
            ON P.ID = PM.ProjectID
            INNER JOIN Client AS C
            ON P.ClientID = C.ID
            INNER JOIN TaskSummary AS TS
            ON P.ID = TS.ProjectID
        GROUP BY PM.ProjectID,P.[ProjectName],P.[Description],P.[DueDate],P.ClientID,C.ClientCompany,P.ID,P.Status,P.ProjectID,P.IsActive,P.CreatedDate,TS.TotalTasks,TS.CompletedTasks,TS.PercentageCompleted
GO
/****** Object:  View [dbo].[EmpLeaveDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[EmpLeaveDetails]
AS
SELECT E.[ID], E.[EmployeeCode], E.[FirstName], R.[Role], ISNULL(SUM(L.[NoOfDays]), 0) AS TakenLeave, C.[LeaveLimit] FROM EmployeeDetails AS E 
INNER JOIN CompanyPolicy AS C ON E.[Role] = C.[Roles]
INNER JOIN Roles AS R ON R.[ID] = E.[Role]
LEFT JOIN LeaveDetails AS L ON E.[ID] = L.[EmpId] AND L.[Status] = 'Approved'
GROUP BY  E.[ID], E.[EmployeeCode], E.[FirstName], R.[Role], C.[LeaveLimit]
--ORDER BY L.[EmpId] ASC
GO
/****** Object:  View [dbo].[LeaveRemaining]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[LeaveRemaining]
AS
SELECT ID, 'Taken Leave' AS [LeaveDetails], TakenLeave, 0 AS LeaveLimit FROM EmpLeaveDetails
UNION ALL
SELECT ID, 'Remaining Leave' AS [LeaveDetails], 0 AS TakenLeave, LeaveLimit-TakenLeave AS LeaveLimit FROM EmpLeaveDetails
GO
/****** Object:  View [dbo].[TeamMember]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    create   VIEW [dbo].[TeamMember]
    AS
        SELECT TM.ID,TM.TeamMembersID, ED.FirstName +' '+ED.MiddleName +' '+ED.LastName AS FullName , TM.ProjectID, P.ProjectName ,TM.Role AS ROLEID, R.Role, TM.Module , TM.IsActive
        from ProjectMembers AS TM
            INNER JOIN Roles As R
            ON TM.Role = R.ID
            INNER JOIN EmployeeDetails AS ED
            ON TM.TeamMembersID = ED.ID
            INNER JOIN Project AS P
            ON TM.ProjectID = P.ID
GO
/****** Object:  View [dbo].[leavetypeview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[leavetypeview] as
SELECT E.ID,
       E.EmployeeCode,
       E.Role,
       SUM(L.NoOfDays) AS Leave,
       LT.Leavetypename,
       LT.ID as leavetypeid,
       cp.LeaveLimit,
       cp.LeaveLimit-(SUM(L.NoOfDays)) as Remainingleave,
        L.[Status]
FROM (((EmployeeDetails AS E
INNER JOIN LeaveDetails AS L ON L.EmpId = E.ID)
INNER JOIN LeaveTypeDetails AS LT ON LT.ID = L.LeaveType)
INNER JOIN CompanyPolicy as cp on E.Role=cp.Roles)
GROUP BY LT.Leavetypename, L.NoOfDays ,E.EmployeeCode,LT.ID,cp.LeaveLimit,E.Role,E.ID,L.Status
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[PunchIn] [nvarchar](30) NOT NULL,
	[PunchOut] [nvarchar](30) NULL,
	[WorkingHours] [nvarchar](40) NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [varchar](1) NULL,
	[ModifiedBy] [varchar](1) NULL,
	[ExtraField] [varchar](1) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DailyAttendance]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[DailyAttendance] AS
SELECT Attendance.[Id], Attendance.[EmpId], EmployeeDetails.[EmployeeCode], CONCAT(EmployeeDetails.[FirstName],' ', EmployeeDetails.[MiddleName],' ', EmployeeDetails.[LastName]) AS EmployeeName, Attendance.[Date], Attendance.[PunchIn], Attendance.[PunchOut], Attendance.[WorkingHours], Attendance.[IsActive]
FROM Attendance
INNER JOIN EmployeeDetails ON Attendance.EmpId = EmployeeDetails.ID;
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[TicketId]  AS ('TCK'+right('0000'+CONVERT([varchar](10),[id]),(4))) PERSISTED,
	[TicketSubject] [int] NULL,
	[Priority] [varchar](15) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Status] [varchar](10) NULL,
	[RaiseDate] [date] NOT NULL,
	[AttachFile] [nvarchar](max) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[IsActive] [bit] NULL,
	[Field1] [varchar](10) NULL,
	[Field2] [varchar](10) NULL,
	[Field3] [varchar](10) NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSubject]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSubject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [varchar](30) NULL,
	[PriorityId] [int] NULL,
 CONSTRAINT [PK_TicketSubject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [varchar](10) NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TicketRaised]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[TicketRaised] AS 
SELECT T.[ID], T.[TicketId],T.[EmpId],TSUB.[Subject],E.[FirstName],E.[MiddleName],D.[Designation],T.[RaiseDate],P.[Priority],T.[Status],T.[Description],T.[AttachFile],T.[CreatedDate], T.[IsActive],T.[CreatedBy] FROM EmployeeDetails AS E 
INNER JOIN Ticket AS T ON E.ID=T.EmpId
INNER JOIN TicketSubject AS TSUB ON TSUB.ID = T.TicketSubject
INNER JOIN Priority AS P ON P.ID = T.Priority 
INNER JOIN Designations AS D ON E.Designation = D.ID
GO
/****** Object:  View [dbo].[sickchartview]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[sickchartview] as
WITH LeaveData AS (
    SELECT 
        ID, 
        EmployeeCode, 
        Leavetypename, 
        LeaveLimit, 
        SUM(leave) AS leavetypecount,
        [Status]
    FROM 
        leavetypeview
    WHERE 
        EmployeeCode = 'BYT002' AND Leavetypename = 'Sick Leave'
    GROUP BY 
        ID, EmployeeCode, Leavetypename, LeaveLimit,[Status]
)
SELECT 
    COALESCE(ld.ID, dd.ID) AS ID, 
    'BYT002' AS EmployeeCode, 
    COALESCE(ld.leavetypecount, 0) AS leavetypecount, 
    'Sick Leave' AS Leavetypename, 
    COALESCE(ld.LeaveLimit, dd.DefaultLeaveLimit) AS LeaveLimit,
    COALESCE(ld.LeaveLimit, dd.DefaultLeaveLimit) - COALESCE(ld.leavetypecount, 0) AS Remainingleave
FROM 
    (SELECT 
        ID, 
        LeaveLimit AS DefaultLeaveLimit, 
        EmployeeCode
     FROM 
        leavetypeview 
     WHERE 
        EmployeeCode = 'BYT002'
     GROUP BY 
        ID, LeaveLimit, EmployeeCode) dd
LEFT JOIN 
    LeaveData ld
    ON dd.ID = ld.ID AND dd.EmployeeCode = ld.EmployeeCode;
GO
/****** Object:  View [dbo].[TotalEntry]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[TotalEntry] AS
SELECT [EmployeeCode] AS AttendanceCount FROM DailyAttendance
WHERE [Date] = convert(Date, getdate()) 
GROUP BY  DailyAttendance.[EmployeeCode]
GO
/****** Object:  View [dbo].[DayCount]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[DayCount] AS
WITH LeaveCount AS (
    SELECT COUNT(EmployeeCode) AS TotalTodayLeave
    FROM Leaveview
    WHERE [Status] = 'Approved' AND GETDATE() BETWEEN StartDate AND EndDate
),
EntryCount AS (
    SELECT COUNT(*) AS TotalEntry
    FROM TotalEntry
)
SELECT  
    (SELECT TotalTodayLeave FROM LeaveCount) AS [Absent],
    (SELECT TotalEntry FROM EntryCount) AS [Present];
GO
/****** Object:  View [dbo].[MonthlyReimbursementTotals]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    VIEW [dbo].[MonthlyReimbursementTotals] AS

SELECT EmployeeDetails.ID,
       EmployeeDetails.EmployeeCode,
       MONTH(ReimbursementClaim.BillDate) AS Month,
       YEAR(ReimbursementClaim.BillDate) AS Year,
       SUM(ReimbursementClaim.BillAmount) AS TotalClaimAmount

FROM   ReimbursementClaim  

INNER JOIN EmployeeDetails ON ReimbursementClaim.EmpId = EmployeeDetails.ID

GROUP BY EmployeeDetails.ID, EmployeeDetails.EmployeeCode, MONTH(ReimbursementClaim.BillDate), YEAR(ReimbursementClaim.BillDate)
GO
/****** Object:  View [dbo].[ViewProfile]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ViewProfile] AS
SELECT E.[FirstName],E.[MiddleName],E.[LastName],R.[Role],D.[Designation],E.[EmployeeCode],E.[DateOfJoining],E.[MobileNumber],E.[Email],E.[Address],E.[City],E.[Nationality],E.[Religion],E.[MaritalStatus],A.[BankName],A.[AccountNumber],A.[IFSCCode],Edu.[PgCollegeName],Edu.[PgStart],Edu.[PgEnd],Edu.[PgCourse],Edu.[UgCollageName],Edu.[UgStart],Edu.[UgEnd],Edu.[UgCourse],Edu.[HSCSchoolName],Edu.[HSCStart],Edu.[HSCEnd],Edu.[HSCCourse],Edu.[SSLCSchoolName],Edu.[SSLCStart],Edu.[SSLCEnd],Edu.[EmergencyContact],Edu.[Relationship] FROM EmployeeDetails AS E 
INNER JOIN Designations AS D ON E.Designation = D.ID 
INNER JOIN Roles AS R ON E.Role = R.ID
INNER JOIN EmployeeAccountDetails AS A ON E.ID = A.EmpId
INNER JOIN EmployeePersonalDetails AS Edu ON E.ID = Edu.EmpId
GO
/****** Object:  View [dbo].[EmployeeSalaryDetails]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[EmployeeSalaryDetails] As
select Emp.[ID],Emp.[EmployeeCode],CONCAT(Emp.[FirstName],' ',COALESCE(Emp.[MiddleName],' '),' ',Emp.[LastName]) AS FullName,[Email],Desig.[Designation],SD.[BasicPay] As [Salary]
from EmployeeDetails As Emp
INNER JOIN Designations As Desig
ON Desig.ID=Emp.Designation
inner join SalaryDetails AS SD
on Emp.Id=SD.EmpId
GO
/****** Object:  View [dbo].[SHOWSALARYDETAILS]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[SHOWSALARYDETAILS] AS
SELECT 
    [ID] ,
    [EmployeeName],
    [AdjustedBasicPay] As BasicPay,
    [HouseRent],
    [Conveyance] ,
    [OtherAllowance] ,
    [ESI] ,
    [Tax] ,
    [PF] ,
    [Others]  ,
    [CreatedDate] 
    FROM MonthlySalary 
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HolidayName] [varchar](20) NOT NULL,
	[Date] [date] NOT NULL,
	[Day]  AS (datename(weekday,[Date])),
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Holiday] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reasons]    Script Date: 11-06-2024 11:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reasons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[problem] [varchar](80) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSchedule]    Script Date: 11-06-2024 11:57:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSchedule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](20) NOT NULL,
	[Time] [nvarchar](20) NULL,
	[TimeOut] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TimeSchedulePK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([ID], [EmpId], [Date], [PunchIn], [PunchOut], [WorkingHours], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [ExtraField], [IsActive]) VALUES (1, 1, CAST(N'2024-06-08' AS Date), N'15:37:48', N'15:49:08', N'0 Hours 12 Minutes ', CAST(N'2024-06-08' AS Date), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Attendance] ([ID], [EmpId], [Date], [PunchIn], [PunchOut], [WorkingHours], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [ExtraField], [IsActive]) VALUES (2, 2, CAST(N'2024-06-08' AS Date), N'15:42:11', N'16:43:23', N'1 Hours 1 Minutes ', CAST(N'2024-06-08' AS Date), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Attendance] ([ID], [EmpId], [Date], [PunchIn], [PunchOut], [WorkingHours], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [ExtraField], [IsActive]) VALUES (3, 2, CAST(N'2024-06-08' AS Date), N'15:42:46', N'16:43:23', N'1 Hours 1 Minutes ', CAST(N'2024-06-08' AS Date), NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [ClientCompany]) VALUES (1, N'ROOTS')
INSERT [dbo].[Client] ([ID], [ClientCompany]) VALUES (2, N'HDFC')
INSERT [dbo].[Client] ([ID], [ClientCompany]) VALUES (3, N'F2F Foods')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyPolicy] ON 

INSERT [dbo].[CompanyPolicy] ([ID], [Roles], [LeaveLimit], [InternetLimit], [TravelLimit], [IsActive], [ModifiedBy], [ModifiedDate]) VALUES (1, 1, 24, 1500.0000, 1000.0000, 1, 1, CAST(N'2024-06-11' AS Date))
INSERT [dbo].[CompanyPolicy] ([ID], [Roles], [LeaveLimit], [InternetLimit], [TravelLimit], [IsActive], [ModifiedBy], [ModifiedDate]) VALUES (2, 2, 36, 500.0000, 750.0000, 1, 8, CAST(N'2024-05-30' AS Date))
INSERT [dbo].[CompanyPolicy] ([ID], [Roles], [LeaveLimit], [InternetLimit], [TravelLimit], [IsActive], [ModifiedBy], [ModifiedDate]) VALUES (3, 3, 36, 1500.0000, 1000.0000, 1, 8, CAST(N'2024-05-30' AS Date))
SET IDENTITY_INSERT [dbo].[CompanyPolicy] OFF
GO
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([ID], [Designation]) VALUES (1, N'Admin')
INSERT [dbo].[Designations] ([ID], [Designation]) VALUES (2, N'HR')
INSERT [dbo].[Designations] ([ID], [Designation]) VALUES (3, N'Front-End Developer')
SET IDENTITY_INSERT [dbo].[Designations] OFF
GO
SET IDENTITY_INSERT [dbo].[DisplaySalaryDetails] ON 

SET IDENTITY_INSERT [dbo].[DisplaySalaryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeAccountDetails] ON 

INSERT [dbo].[EmployeeAccountDetails] ([ID], [EmpId], [salary], [BankName], [AccountNumber], [IFSCCode], [PFAccount], [IsActive], [Status], [CreatedDate], [ModifiedDate], [CreatedName], [ModifiedName], [EmployeeCode], [Field2], [Field3]) VALUES (1, 1, CAST(59000.00 AS Decimal(11, 2)), N'SBI', N'135792468', N'SBI1234', N'2538383949748', 1, N'Pending', CAST(N'2024-05-17' AS Date), CAST(N'2024-05-17' AS Date), NULL, NULL, N'BYT001', NULL, NULL)
INSERT [dbo].[EmployeeAccountDetails] ([ID], [EmpId], [salary], [BankName], [AccountNumber], [IFSCCode], [PFAccount], [IsActive], [Status], [CreatedDate], [ModifiedDate], [CreatedName], [ModifiedName], [EmployeeCode], [Field2], [Field3]) VALUES (2, 2, CAST(65000.00 AS Decimal(11, 2)), N'Union Bank', N'2837389302001828', N'UNI73892', N'09252728282', 1, N'Approved', CAST(N'2024-05-17' AS Date), CAST(N'2024-05-17' AS Date), NULL, NULL, N'BYT002', NULL, NULL)
INSERT [dbo].[EmployeeAccountDetails] ([ID], [EmpId], [salary], [BankName], [AccountNumber], [IFSCCode], [PFAccount], [IsActive], [Status], [CreatedDate], [ModifiedDate], [CreatedName], [ModifiedName], [EmployeeCode], [Field2], [Field3]) VALUES (3, 3, CAST(35000.00 AS Decimal(11, 2)), N'TMB', N'123456765', N'TMB08933', N'345678998765', 1, N'Pending', CAST(N'2024-05-17' AS Date), CAST(N'2024-05-17' AS Date), NULL, NULL, N'BYT003', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EmployeeAccountDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeDetails] ON 

SET IDENTITY_INSERT [dbo].[EmployeeDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeLogin] ON 

INSERT [dbo].[EmployeeLogin] ([ID], [EmpId], [UserName], [Password], [IsActive]) VALUES (1, 1, N'BYT001', N'Deepak@123', 1)
INSERT [dbo].[EmployeeLogin] ([ID], [EmpId], [UserName], [Password], [IsActive]) VALUES (2, 2, N'BYT002', N'Nandha@123', 1)
INSERT [dbo].[EmployeeLogin] ([ID], [EmpId], [UserName], [Password], [IsActive]) VALUES (3, 3, N'BYT003', N'Mithun@123', 1)
SET IDENTITY_INSERT [dbo].[EmployeeLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeePersonalDetails] ON 

SET IDENTITY_INSERT [dbo].[EmployeePersonalDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Expensetype] ON 

INSERT [dbo].[Expensetype] ([ID], [Expensetypes]) VALUES (1, N'Internet')
INSERT [dbo].[Expensetype] ([ID], [Expensetypes]) VALUES (2, N'Travel')
SET IDENTITY_INSERT [dbo].[Expensetype] OFF
GO
SET IDENTITY_INSERT [dbo].[Holidays] ON 

INSERT [dbo].[Holidays] ([ID], [HolidayName], [Date], [IsActive]) VALUES (1, N'New Year', CAST(N'2024-01-01' AS Date), 1)
INSERT [dbo].[Holidays] ([ID], [HolidayName], [Date], [IsActive]) VALUES (2, N'Pongal', CAST(N'2024-01-15' AS Date), 1)
INSERT [dbo].[Holidays] ([ID], [HolidayName], [Date], [IsActive]) VALUES (3, N'Thiruvalluvar Day', CAST(N'2024-01-16' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Holidays] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveDetails] ON 

INSERT [dbo].[LeaveDetails] ([ID], [EmpId], [StartDate], [EndDate], [LeaveType], [Reason], [Detailedreason], [Status], [CreatedDate], [IsActive]) VALUES (1, 1, CAST(N'2024-06-01' AS Date), CAST(N'2024-06-10' AS Date), 1, N'BirthDay Celeberation', N'Family friends birthday function', N'Rejected', CAST(N'2024-05-24' AS Date), 0)
INSERT [dbo].[LeaveDetails] ([ID], [EmpId], [StartDate], [EndDate], [LeaveType], [Reason], [Detailedreason], [Status], [CreatedDate], [IsActive]) VALUES (2, 1, CAST(N'2024-06-05' AS Date), CAST(N'2024-06-06' AS Date), 2, N'Marriage Function', N'Family friends Marriage function', N'Rejected', CAST(N'2024-05-24' AS Date), 1)
INSERT [dbo].[LeaveDetails] ([ID], [EmpId], [StartDate], [EndDate], [LeaveType], [Reason], [Detailedreason], [Status], [CreatedDate], [IsActive]) VALUES (3, 3, CAST(N'2024-05-15' AS Date), CAST(N'2024-05-16' AS Date), 2, N'Marriage Function', N'Family friends Marriage function', N'Rejected', CAST(N'2024-05-24' AS Date), 1)
SET IDENTITY_INSERT [dbo].[LeaveDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveTypeDetails] ON 

INSERT [dbo].[LeaveTypeDetails] ([ID], [Leavetypename]) VALUES (1, N'Sick Leave')
INSERT [dbo].[LeaveTypeDetails] ([ID], [Leavetypename]) VALUES (2, N'Casual Leave')
SET IDENTITY_INSERT [dbo].[LeaveTypeDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Priority] ON 

INSERT [dbo].[Priority] ([ID], [Priority]) VALUES (1, N'High')
INSERT [dbo].[Priority] ([ID], [Priority]) VALUES (2, N'Medium')
INSERT [dbo].[Priority] ([ID], [Priority]) VALUES (3, N'Low')
SET IDENTITY_INSERT [dbo].[Priority] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ID], [ProjectName], [Description], [DueDate], [ProjectCreatedDate], [ClientID], [Status], [FileUpload], [CompletedDate], [CreatedDate], [IsActive], [ModifiedDate], [CreatedBy], [ModifiedBy], [feild1]) VALUES (1, N'Food delivery Website', N'Order food online from FreshMenu. Choose from a wide range of cuisines and categories for food delivery.', CAST(N'2024-06-09' AS Date), CAST(N'2024-04-03' AS Date), 2, 0, NULL, NULL, CAST(N'2024-05-18' AS Date), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Project] ([ID], [ProjectName], [Description], [DueDate], [ProjectCreatedDate], [ClientID], [Status], [FileUpload], [CompletedDate], [CreatedDate], [IsActive], [ModifiedDate], [CreatedBy], [ModifiedBy], [feild1]) VALUES (2, N'Bank Account website', N'Internet banking provides personal and corporate banking services features & electronic payments In Website', CAST(N'2024-10-23' AS Date), CAST(N'2024-03-01' AS Date), 1, 1, NULL, NULL, CAST(N'2024-05-20' AS Date), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Project] ([ID], [ProjectName], [Description], [DueDate], [ProjectCreatedDate], [ClientID], [Status], [FileUpload], [CompletedDate], [CreatedDate], [IsActive], [ModifiedDate], [CreatedBy], [ModifiedBy], [feild1]) VALUES (3, N'Hospital Management System', N'The hospital management system is a computer system that helps manage the information related to healthcare.', CAST(N'2024-04-15' AS Date), CAST(N'2024-05-25' AS Date), 1, 0, NULL, NULL, CAST(N'2024-05-25' AS Date), 1, CAST(N'2024-05-25' AS Date), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectMembers] ON 

INSERT [dbo].[ProjectMembers] ([ID], [TeamMembersID], [ProjectID], [Role], [Module], [IsActive]) VALUES (3, 5, 1, 5, N'Logo Design', 1)
INSERT [dbo].[ProjectMembers] ([ID], [TeamMembersID], [ProjectID], [Role], [Module], [IsActive]) VALUES (4, 2, 1, 5, N'Back-End Table', 1)
INSERT [dbo].[ProjectMembers] ([ID], [TeamMembersID], [ProjectID], [Role], [Module], [IsActive]) VALUES (5, 3, 1, 5, N'Testing', 1)
SET IDENTITY_INSERT [dbo].[ProjectMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Reasons] ON 

INSERT [dbo].[Reasons] ([id], [problem]) VALUES (1, N'Salary')
INSERT [dbo].[Reasons] ([id], [problem]) VALUES (2, N'Moving New Location')
INSERT [dbo].[Reasons] ([id], [problem]) VALUES (3, N'Not happy with job')
SET IDENTITY_INSERT [dbo].[Reasons] OFF
GO
SET IDENTITY_INSERT [dbo].[ReimbursementClaim] ON 

INSERT [dbo].[ReimbursementClaim] ([ID], [EmpId], [Role], [Expense], [BillNo], [BillDate], [BillAmount], [Bill], [Status], [CreatedDate], [IsActive]) VALUES (1089, 1, 2, 2, N'BIL13052024', CAST(N'2024-05-01' AS Date), 750.0000, N'BILLFILE', N'Approved', CAST(N'2024-06-08' AS Date), 1)
INSERT [dbo].[ReimbursementClaim] ([ID], [EmpId], [Role], [Expense], [BillNo], [BillDate], [BillAmount], [Bill], [Status], [CreatedDate], [IsActive]) VALUES (1090, 2, 4, 1, N'BIL14052024', CAST(N'2024-05-04' AS Date), 1000.0000, N'BILLFILE', N'Pending', CAST(N'2024-06-08' AS Date), 1)
INSERT [dbo].[ReimbursementClaim] ([ID], [EmpId], [Role], [Expense], [BillNo], [BillDate], [BillAmount], [Bill], [Status], [CreatedDate], [IsActive]) VALUES (1091, 8, 5, 2, N'BIL18052024', CAST(N'2024-05-06' AS Date), 500.0000, N'BILLFILE', N'Pending', CAST(N'2024-06-08' AS Date), 1)
SET IDENTITY_INSERT [dbo].[ReimbursementClaim] OFF
GO
SET IDENTITY_INSERT [dbo].[ResignationTable] ON 

INSERT [dbo].[ResignationTable] ([ID], [EmpId], [LastDateOfWorking], [ReasonForResign], [AdditionalReasonForResign], [Status], [IsActive], [Field2], [Field3]) VALUES (7, 4, CAST(N'2024-06-03' AS Date), N'Salary', N'no', N'Rejected', 1, NULL, NULL)
INSERT [dbo].[ResignationTable] ([ID], [EmpId], [LastDateOfWorking], [ReasonForResign], [AdditionalReasonForResign], [Status], [IsActive], [Field2], [Field3]) VALUES (9, 4, CAST(N'2024-06-14' AS Date), N'Not happy with job, Moving New Location', N'Salary is less', N'Rejected', 1, NULL, NULL)
INSERT [dbo].[ResignationTable] ([ID], [EmpId], [LastDateOfWorking], [ReasonForResign], [AdditionalReasonForResign], [Status], [IsActive], [Field2], [Field3]) VALUES (10, 2, CAST(N'2024-06-08' AS Date), N'personal reason', N'Not', N'Rejected', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ResignationTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Role]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([ID], [Role]) VALUES (2, N'HR')
INSERT [dbo].[Roles] ([ID], [Role]) VALUES (3, N'HOD')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([ID], [ProjectID], [TaskName], [DueDate], [EmpId], [Status], [IsActive], [CreatedBy], [CreatedDate], [ModifiedDate], [CompletedAt]) VALUES (1, 2, N'Product Page', CAST(N'2024-06-15' AS Date), 5, 1, 1, NULL, CAST(N'2024-05-29' AS Date), CAST(N'2024-05-29' AS Date), CAST(N'2024-06-08' AS Date))
INSERT [dbo].[Task] ([ID], [ProjectID], [TaskName], [DueDate], [EmpId], [Status], [IsActive], [CreatedBy], [CreatedDate], [ModifiedDate], [CompletedAt]) VALUES (2, 1, N'Product Page', CAST(N'2024-06-15' AS Date), 6, 1, 1, NULL, CAST(N'2024-05-29' AS Date), CAST(N'2024-05-29' AS Date), CAST(N'2024-06-08' AS Date))
INSERT [dbo].[Task] ([ID], [ProjectID], [TaskName], [DueDate], [EmpId], [Status], [IsActive], [CreatedBy], [CreatedDate], [ModifiedDate], [CompletedAt]) VALUES (3, 1, N'Appointment booking', CAST(N'2024-06-23' AS Date), 3, 1, 1, NULL, CAST(N'2024-05-29' AS Date), CAST(N'2024-05-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ID], [EmpId], [TicketSubject], [Priority], [Description], [Status], [RaiseDate], [AttachFile], [CreatedDate], [ModifiedDate], [CreatedBy], [IsActive], [Field1], [Field2], [Field3]) VALUES (1, 1, 3, N'2', N'AC is not working in my cabin', N'Pending', CAST(N'2024-05-22' AS Date), N'ladfalkdkakl', CAST(N'2024-05-22' AS Date), NULL, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Ticket] ([ID], [EmpId], [TicketSubject], [Priority], [Description], [Status], [RaiseDate], [AttachFile], [CreatedDate], [ModifiedDate], [CreatedBy], [IsActive], [Field1], [Field2], [Field3]) VALUES (2, 2, 1, N'2', N'Lap', N'Declined', CAST(N'2024-05-22' AS Date), N'Image1', CAST(N'2024-05-22' AS Date), NULL, 1, 0, NULL, NULL, NULL)
INSERT [dbo].[Ticket] ([ID], [EmpId], [TicketSubject], [Priority], [Description], [Status], [RaiseDate], [AttachFile], [CreatedDate], [ModifiedDate], [CreatedBy], [IsActive], [Field1], [Field2], [Field3]) VALUES (1002, 3, 1, N'3', N'Keyboard', N'Pending', CAST(N'2024-05-25' AS Date), N'image2', CAST(N'2024-05-25' AS Date), NULL, 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketSubject] ON 

INSERT [dbo].[TicketSubject] ([ID], [Subject], [PriorityId]) VALUES (1, N'System Issue', 1)
INSERT [dbo].[TicketSubject] ([ID], [Subject], [PriorityId]) VALUES (2, N'Internet Issue', 1)
INSERT [dbo].[TicketSubject] ([ID], [Subject], [PriorityId]) VALUES (3, N'AC Issue', 2)
SET IDENTITY_INSERT [dbo].[TicketSubject] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSchedule] ON 

INSERT [dbo].[TimeSchedule] ([ID], [EventName], [Time], [TimeOut], [IsActive]) VALUES (1, N'BREAK 1', N'11:10', N'11:30', 1)
INSERT [dbo].[TimeSchedule] ([ID], [EventName], [Time], [TimeOut], [IsActive]) VALUES (2, N'LUNCH', N'13:00', N'14:00', 1)
INSERT [dbo].[TimeSchedule] ([ID], [EventName], [Time], [TimeOut], [IsActive]) VALUES (3, N'BREAK 2', N'16:20', N'16:40', 1)
SET IDENTITY_INSERT [dbo].[TimeSchedule] OFF
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ('Still Logined') FOR [PunchOut]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ('...') FOR [WorkingHours]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CompanyPolicy] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CompanyPolicy] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[DisplaySalaryDetails] ADD  DEFAULT ((0)) FOR [Reimbursement]
GO
ALTER TABLE [dbo].[DisplaySalaryDetails] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeeAccountDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeAccountDetails] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[EmployeeAccountDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeAccountDetails] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[EmployeeDetails] ADD  DEFAULT (getdate()) FOR [DateOfJoining]
GO
ALTER TABLE [dbo].[EmployeeDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeDetails] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeDetails] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[EmployeeLogin] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeePersonalDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeePersonalDetails] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeePersonalDetails] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveDetails] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LeaveDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DEFAULT_Project_ProjectCreatedDate]  DEFAULT (getdate()) FOR [ProjectCreatedDate]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DEFAULT_Project_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DEFAULT_Project_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[ProjectMembers] ADD  CONSTRAINT [DEFAULT_ProjectMembers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ReimbursementClaim] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ReimbursementClaim] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ReimbursementClaim] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ResignationTable] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ResignationTable] ADD  CONSTRAINT [DEFAULT_ResignationTable_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DEFAULT_Task_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TimeSchedule] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance]
GO
ALTER TABLE [dbo].[CompanyPolicy]  WITH CHECK ADD  CONSTRAINT [FK_Modifiedby] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[CompanyPolicy] CHECK CONSTRAINT [FK_Modifiedby]
GO
ALTER TABLE [dbo].[CompanyPolicy]  WITH CHECK ADD  CONSTRAINT [FK_Roles] FOREIGN KEY([Roles])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[CompanyPolicy] CHECK CONSTRAINT [FK_Roles]
GO
ALTER TABLE [dbo].[DisplaySalaryDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalaryDetails_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[DisplaySalaryDetails] CHECK CONSTRAINT [FK_SalaryDetails_EmpId]
GO
ALTER TABLE [dbo].[EmployeeAccountDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAccountDetails] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[EmployeeAccountDetails] CHECK CONSTRAINT [FK_EmployeeAccountDetails]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail] FOREIGN KEY([Designation])
REFERENCES [dbo].[Designations] ([ID])
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [FK_EmployeeDetail]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetails] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [FK_EmployeeDetails]
GO
ALTER TABLE [dbo].[EmployeeLogin]  WITH CHECK ADD  CONSTRAINT [FK_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[EmployeeLogin] CHECK CONSTRAINT [FK_EmpId]
GO
ALTER TABLE [dbo].[EmployeePersonalDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePersonaldata] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[EmployeePersonalDetails] CHECK CONSTRAINT [FK_EmployeePersonaldata]
GO
ALTER TABLE [dbo].[LeaveDetails]  WITH CHECK ADD  CONSTRAINT [PK_empleave] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[LeaveDetails] CHECK CONSTRAINT [PK_empleave]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Client]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectID]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRoles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectRoles]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembersID] FOREIGN KEY([TeamMembersID])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_TeamMembersID]
GO
ALTER TABLE [dbo].[ReimbursementClaim]  WITH CHECK ADD  CONSTRAINT [FK_EmpIdd] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[ReimbursementClaim] CHECK CONSTRAINT [FK_EmpIdd]
GO
ALTER TABLE [dbo].[ReimbursementClaim]  WITH CHECK ADD  CONSTRAINT [Fk_Expense] FOREIGN KEY([Expense])
REFERENCES [dbo].[Expensetype] ([ID])
GO
ALTER TABLE [dbo].[ReimbursementClaim] CHECK CONSTRAINT [Fk_Expense]
GO
ALTER TABLE [dbo].[ReimbursementClaim]  WITH CHECK ADD  CONSTRAINT [FK_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[ReimbursementClaim] CHECK CONSTRAINT [FK_Role]
GO
ALTER TABLE [dbo].[ResignationTable]  WITH CHECK ADD  CONSTRAINT [FK_ResignationTable] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[ResignationTable] CHECK CONSTRAINT [FK_ResignationTable]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_TaskEmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_TaskEmpId]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [Fk_TaskProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [Fk_TaskProjectID]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePersonalDetail] FOREIGN KEY([TicketSubject])
REFERENCES [dbo].[TicketSubject] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_EmployeePersonalDetail]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePersonalDetails] FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeDetails] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_EmployeePersonalDetails]
GO
ALTER TABLE [dbo].[TicketSubject]  WITH CHECK ADD  CONSTRAINT [FK_TicketSubject] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priority] ([ID])
GO
ALTER TABLE [dbo].[TicketSubject] CHECK CONSTRAINT [FK_TicketSubject]
GO
/****** Object:  StoredProcedure [dbo].[AllCountDetails]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AllCountDetails]
AS
BEGIN
SELECT COUNT(ID) AS TotalProject FROM ProjectTable WHERE IsActive=1
SELECT COUNT(ID) AS TotalClient FROM ProjectTable WHERE IsActive=1
SELECT COUNT(ID) AS TotalEmployee FROM EmployeeDetails WHERE IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[casualleavechart]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[casualleavechart]
    @EmployeeCode NVARCHAR(50)
AS
BEGIN
    WITH LeaveData AS (
        SELECT 
            ID, 
            EmployeeCode, 
            Leavetypename, 
            LeaveLimit, 
            SUM(leave) AS leavetypecount,
            [Status]
        FROM 
            leavetypeview
        WHERE 
            EmployeeCode = @EmployeeCode 
            AND Leavetypename = 'Sick Leave' 
            AND [Status] = 'Approved'
        GROUP BY 
            ID, EmployeeCode, Leavetypename, LeaveLimit, [Status]
    )
    SELECT 
        COALESCE(ld.ID, dd.ID) AS ID, 
        @EmployeeCode AS EmployeeCode, 
        COALESCE(ld.leavetypecount, 0) AS leavetypecount, 
        'Sick Leave' AS Leavetypename, 
        COALESCE(ld.LeaveLimit, dd.DefaultLeaveLimit) AS LeaveLimit,
        COALESCE(ld.LeaveLimit, dd.DefaultLeaveLimit) - COALESCE(ld.leavetypecount, 0) AS Remainingleave,
        COALESCE(ld.[Status], dd.[Status]) AS [Status]
    FROM 
        (SELECT 
            ID, 
            LeaveLimit AS DefaultLeaveLimit, 
            EmployeeCode,
            [Status]
         FROM 
            leavetypeview 
         WHERE 
            EmployeeCode = @EmployeeCode
            AND [Status] = 'Approved'
         GROUP BY 
            ID, LeaveLimit, EmployeeCode, [Status]) dd
    LEFT JOIN 
        LeaveData ld
        ON dd.ID = ld.ID AND dd.EmployeeCode = ld.EmployeeCode
            AND dd.[Status] = 'Approved'
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckPriority]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CheckPriority] (@TicketSubject int,@ticketid varchar(10))
AS
BEGIN
    UPDATE Ticket
    SET Priority = CASE
        WHEN @TicketSubject = 1 THEN 1
        WHEN @TicketSubject = 2 THEN 1
        WHEN @TicketSubject = 3 THEN 2
        WHEN @TicketSubject = 4 THEN 3
    END
    WHERE TicketId = @ticketid;
END
GO
/****** Object:  StoredProcedure [dbo].[deletevalue]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[deletevalue] @deleteid NVARCHAR(30)
AS

DELETE ResignationTable WHERE EmpId=@deleteid;
GO
/****** Object:  StoredProcedure [dbo].[GetLeaveDataByEmployeeCode]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLeaveDataByEmployeeCode]
    @EmployeeCode NVARCHAR(50)
AS
BEGIN
    WITH LeaveData AS (
        SELECT 
            ID, 
            EmployeeCode, 
            Leavetypename, 
            LeaveLimit, 
            SUM(leave) AS leavetypecount
        FROM 
            leavetypeview
        WHERE 
            EmployeeCode = @EmployeeCode 
            AND Leavetypename = 'Sick Leave' 
            AND [Status] = 'Approved'
        GROUP BY 
            ID, EmployeeCode, Leavetypename, LeaveLimit
    )
    SELECT 
        COALESCE(ld.ID, dd.ID) AS ID,
        @EmployeeCode AS EmployeeCode,
        COALESCE(ld.leavetypecount, 0) AS leavetypecount, 
        'Sick Leave' AS Leavetypename, 
        COALESCE(ld.LeaveLimit, dd.DefaultLeaveLimit) AS LeaveLimit,
        COALESCE(ld.LeaveLimit, dd.DefaultLeaveLimit) - COALESCE(ld.leavetypecount, 0) AS Remainingleave
    FROM 
        (SELECT 
            ID, 
            LeaveLimit AS DefaultLeaveLimit,
            EmployeeCode
         FROM 
            leavetypeview
         WHERE 
            EmployeeCode = @EmployeeCode
         GROUP BY 
            ID, LeaveLimit, EmployeeCode) dd
        LEFT JOIN 
        LeaveData ld
        ON dd.ID = ld.ID AND dd.EmployeeCode = ld.EmployeeCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[LeaveDetailsType]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[LeaveDetailsType]
@EmployeeCode NVARCHAR(50)
AS
BEGIN
    SELECT 
        E.[ID], 
        E.[EmployeeCode], 
        E.[FirstName], 
        R.[Role], 
        ISNULL(SUM(L1.[NoOfDays]), 0) AS TakenLeave, 
        C.[LeaveLimit], 
        1 AS LeaveType, 
        'Sick Leave' as LeaveTypename
    FROM 
        EmployeeDetails AS E 
        INNER JOIN CompanyPolicy AS C ON E.[Role] = C.[Roles]
        INNER JOIN Roles AS R ON R.[ID] = E.[Role]
        LEFT JOIN LeaveDetails AS L1 ON E.[ID] = L1.[EmpId] AND L1.[Status] = 'Approved' AND L1.[LeaveType] = 1
    WHERE 
        E.[EmployeeCode] = @EmployeeCode
    GROUP BY 
        E.[ID], E.[EmployeeCode], E.[FirstName], R.[Role], C.[LeaveLimit]

    UNION ALL

    SELECT 
        E.[ID], 
        E.[EmployeeCode], 
        E.[FirstName], 
        R.[Role], 
        ISNULL(SUM(L1.[NoOfDays]), 0) AS TakenLeave, 
        C.[LeaveLimit], 
        2 AS LeaveType, 
        'Casual Leave' as LeaveTypename
    FROM 
        EmployeeDetails AS E 
        INNER JOIN CompanyPolicy AS C ON E.[Role] = C.[Roles]
        INNER JOIN Roles AS R ON R.[ID] = E.[Role]
        LEFT JOIN LeaveDetails AS L1 ON E.[ID] = L1.[EmpId] AND L1.[Status] = 'Approved' AND L1.[LeaveType] = 2
    WHERE 
        E.[EmployeeCode] = @EmployeeCode
    GROUP BY 
        E.[ID], E.[EmployeeCode], E.[FirstName], R.[Role], C.[LeaveLimit]
END
GO
/****** Object:  StoredProcedure [dbo].[PayslipDetails]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[PayslipDetails](@EmployeeCode varchar(10))
As
BEGIN
SELECT Emp.[ID],Emp.[EmployeeCode],CONCAT(Emp.[FirstName],'', Emp.[MiddleName],'',Emp.[LastName])As FullName,Desig.[Designation],Emp.[DateOfJoining],AC.[BankName],AC.[AccountNumber],AC.[IFSCCode],
    [BasicPay] ,
    [HouseRent] ,
    [Conveyance] ,
    [OtherAllowance] ,
    [ESI] ,
    [Tax] ,
    [PF],
    [Others]
from EmployeeDetails as Emp
join Designations as Desig
ON Desig.ID=Emp.Designation
join EmployeeAccountDetails As AC
on Ac.EmpId=Emp.ID
join MonthlySalary As MS
ON MS.Id=Emp.ID
WHERE Emp.EmployeeCode=@EmployeeCode
END

GO
/****** Object:  StoredProcedure [dbo].[PersonalHistory]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PersonalHistory] @EmpCode NVARCHAR(30)
AS
 SELECT ReimbursementAllclaim.ID,
        ReimbursementAllclaim.BillNo,
        ReimbursementAllclaim.BillDate,
        ReimbursementAllclaim.Expensetypes,
        ReimbursementAllclaim.[Status],
        ReimbursementAllclaim.BillAmount

FROM ReimbursementAllclaim

WHERE EmployeeCode = @EmpCode;
GO
/****** Object:  StoredProcedure [dbo].[PunchOutUpdate]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PunchOutUpdate](@EmpId int)
AS
UPDATE Attendance SET PunchOut = convert(varchar, getdate(), 8) WHERE EmpId=@EmpId AND PunchOut='Still Logined';
UPDATE Attendance SET WorkingHours = 
    CASE
        WHEN PunchOut = 'Still Logined' THEN 'Still Logined'
        ELSE 
            CONVERT(NVARCHAR(20), 
                CONVERT(INT, 
                    DATEDIFF(MINUTE, CONVERT(DATETIME, PunchIn, 120), CONVERT(DATETIME, PunchOut, 120)) / 60)) + ' Hours ' + 
            CONVERT(NVARCHAR(20), 
                DATEDIFF(MINUTE, CONVERT(DATETIME, PunchIn, 120), CONVERT(DATETIME, PunchOut, 120)) % 60) + ' Minutes ' 
    END
WHERE EmpId = @EmpId;
GO
/****** Object:  StoredProcedure [dbo].[SaveProject]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveProject] 
        @SpClientCompany varchar(30),
        @SpProjectName NVARCHAR(30),
        @SpDescription NVARCHAR(120),
        @SpDueDate Date,
        @SpTaskName NVARCHAR(60),
        @SpTaskDueDate DATE,
        @spEmpId INT
AS
    INSERT INTO Client (ClientCompany) VALUES (@SpClientCompany);

    INSERT INTO Project (ProjectName,[Description], DueDate, ClientID)
    VALUES (@SpProjectName,@SpDescription, @SpDueDate,(SELECT ID From Client Where ClientCompany = @SpClientCompany));

    INSERT INTO Task (ProjectID, TaskName, DueDate, EmpId )
    VALUES ((SELECT ID From Project Where ProjectName = @SpProjectName),@SpTaskName,@SpTaskDueDate,@spEmpId);
GO
/****** Object:  StoredProcedure [dbo].[SpTeamMembers]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpTeamMembers] 
        @SpProjectName NVARCHAR(30),
        @spTeamMembersID INT,
        @SpModule VARCHAR(15),
        @spRole INT 
AS
    INSERT INTO ProjectMembers(TeamMembersID,ProjectID,[Role],Module)
    VALUES(@spTeamMembersID,(SELECT ID From Project Where ProjectName = @SpProjectName),@spRole,@SpModule);
GO
/****** Object:  StoredProcedure [dbo].[TotalTicketCount]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[TotalTicketCount]
as
SELECT COUNT(Status) AS NewTicket FROM TicketRaised  
SELECT COUNT(Status) AS PendingTicket FROM TicketRaised where Status='Pending' 
SELECT COUNT(Status) AS SolvedTicket FROM TicketRaised where Not Status='Pending' 
GO
/****** Object:  StoredProcedure [dbo].[UpdateAll]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateAll] 
    @date NVARCHAR(30), 
    @PunchIn NVARCHAR(30), 
    @PunchOut NVARCHAR(30), 
    @Id INT
AS
BEGIN
    UPDATE Attendance 
    SET date = @date, 
        PunchIn = @PunchIn, 
        PunchOut = @PunchOut 
    WHERE Id=@Id;

    UPDATE Attendance 
    SET WorkingHours = 
        CASE
            WHEN PunchOut = 'Still Logined' THEN 'Still Logined'
            ELSE 
                CONVERT(NVARCHAR(20), CONVERT(INT, DATEDIFF(MINUTE, CONVERT(DATETIME, PunchIn, 120), CONVERT(DATETIME, PunchOut, 120)) / 60)) + ' Hours ' + 
                CONVERT(NVARCHAR(20), DATEDIFF(MINUTE, CONVERT(DATETIME, PunchIn, 120), CONVERT(DATETIME, PunchOut, 120)) % 60) + ' Minutes ' 
        END
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[updatevalues]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[updatevalues] @updateisactive nvarchar(30)
AS
UPDATE EmployeeLogin set IsActive=0 WHERE EmpId=@updateisactive 
UPDATE EmployeeDetails set IsActive=0 WHERE ID=@updateisactive 
UPDATE EmployeePersonalDetails SET IsActive=0 WHERE EmpId=@updateisactive 
UPDATE EmployeeAccountDetails SET IsActive=0 WHERE EmpId=@updateisactive 
UPDATE ResignationTable SET IsActive=0 WHERE EmpId=@updateisactive
UPDATE ResignationTable SET [Status]='Approved' WHERE EmpId=@updateisactive;
GO
/****** Object:  StoredProcedure [dbo].[updatevalues1]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[updatevalues1] @updateisactive1 nvarchar(30)
AS
UPDATE EmployeeLogin set IsActive=1 WHERE EmpId=@updateisactive1 
UPDATE EmployeeDetails set IsActive=1 WHERE ID=@updateisactive1 
UPDATE EmployeePersonalDetails SET IsActive=1 WHERE EmpId=@updateisactive1
UPDATE EmployeeAccountDetails SET IsActive=1 WHERE EmpId=@updateisactive1
UPDATE ResignationTable SET IsActive=1 WHERE EmpId=@updateisactive1;
UPDATE ResignationTable SET [Status]='Rejected' WHERE EmpId=@updateisactive1;

EXEC updatevalues1 @updateisactive1=2;
GO
/****** Object:  Trigger [dbo].[Login]    Script Date: 11-06-2024 11:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[Login] ON [dbo].[EmployeeDetails] FOR INSERT 
AS 
BEGIN
INSERT INTO EmployeeLogin([EmpId],[UserName],[Password])
SELECT ID,EmployeeCode,EmployeeCode FROM inserted
END
GO
ALTER TABLE [dbo].[EmployeeDetails] ENABLE TRIGGER [Login]
GO
USE [master]
GO
